@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --bg-color: #222;
  --form-color: #333;
  --text-color: #fff;
  --input-bg: #444;
  --input-border: #555;
  --button-bg: linear-gradient(99.78deg, #F76443 25.89%, #FEC746 109.55%);
  --button-hover-bg: linear-gradient(99.78deg, #e76042 25.89%, #b89032 109.55%);
  --icon-color: #F76443;

}

/* Dark Theme */
[data-theme="light"] {
  --bg-color: #f5f5f5;
  --form-color: #ccc;
  --text-color: #222;
  --input-bg: #fff;
  --input-border: #ccc;
  --button-bg: linear-gradient(99.78deg, #F76443 25.89%, #FEC746 109.55%);
  --button-hover-bg: linear-gradient(99.78deg, #e76042 25.89%, #b89032 109.55%);
  --icon-color: #F76443;
}

body {
  font-family: 'Poppins', 'Roboto', 'Arial', 'Helvetica Neue', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: 'Fira Code', 'Courier New', Courier, monospace;
}

.upload-form-container {
  background-color: var(--form-color);
  padding: 25px;
  box-shadow: 0px 4px 12px var(--shadow-color);
  border-radius: 12px;
  max-width: 40%;
  margin: 50px auto;
  text-align: center;
  color: var(--text-color);
}

/* Title */
.upload-form-container h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Input Group */
.input-group {
  margin-bottom: 20px;
  text-align: left;
}


.input-group label {
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-bottom: 8px;
  color: var(--text-color);
}

.input-group label svg {
  margin-right: 10px;
  color: var(--icon-color);
}

/* Input Fields */
.input-group input {
  width: 95%;
  padding: 12px;
  border: 2px solid var(--input-border);
  border-radius: 8px;
  font-size: 16px;
  background-color: var(--input-bg);
  color: var(--text-color);
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* Focus Effect */
.input-group input:focus {
  border-color: var(--icon-color);
  box-shadow: 0 0 5px rgba(30, 144, 255, 0.5);
}

/* File Upload Input */
.input-group input[type="file"] {
  border: none;
  padding: 10px;
  background-color: var(--input-bg);
  cursor: pointer;
}

/* Button Styling */
.compare-button {
  width: 100%;
  background: var(--button-bg);
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.3s ease-in-out, transform 0.2s;
}

/* Hover Effect */
.compare-button:hover {
  background: var(--button-hover-bg);
  transform: translateY(-2px);
}

/* Match Result */
.match-result {
  margin-top: 25px;
}

.match-result svg {
  color: var(--match-result-color);
  font-size: 32px;
  margin-bottom: 8px;
}

.match-result p {
  font-size: 20px;
  font-weight: bold;
  color: var(--text-color);
}

.about-container {
  max-width: 90%;
  margin: 50px auto;
  padding: 20px;
  background-color: var(--form-color);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.button {
  background: linear-gradient(99.78deg, #F76443 25.89%, #FEC746 109.55%);
  ;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: darkblue;
}

/* Selection Container */
.selection-container {
  text-align: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* Selection Title */
.selection-container p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.select-button {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* Box Buttons */
.option-button {
  background: transparent;
  border: 3px solid #F76443;
  color: var(--text-color);
  font-size: 16px;
  font-weight: bold;
  font-family: inherit;
  padding: 15px 20px;
  /* border: none; */
  border-radius: 8px;
  cursor: pointer;
  width: 220px;
  height: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  transition: background 0.3s ease-in-out, transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.option-button.selected {
  background: linear-gradient(99.78deg, #F76443 25.89%, #FEC746 109.55%);
  border: none;
  color: white;
}

.option-button.selected:hover {
  background: linear-gradient(99.78deg, #F76443 25.89%, #FEC746 109.55%);
}

/* Hover Effect */
.option-button:hover {
  background: linear-gradient(99.78deg, #F76443 25.89%, #FEC746 109.55%);
  border: none;
  transform: translateY(-3px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  color: white;
}

/* Icons inside buttons */
.icon_logo {
  font-size: 24px;
}

@media (max-width: 1050px) {
  .upload-form-container {
    max-width: 90%;
    padding: 20px;
  }

  .upload-form-container h2 {
    font-size: 22px;
  }

  .input-group input {
    padding: 10px;
    font-size: 14px;
  }

  .compare-button {
    font-size: 16px;
    padding: 10px;
  }

  .selection-container p {
    font-size: 14px;
  }

  .option-button {
    width: 170px;
    height: 100px;
  }

  .icon_logo {
    font-size: 12px;
  }
}

/* Mobile Devices (max-width: 480px) */
@media (max-width: 480px) {
  .upload-form-container {
    padding: 15px;
  }

  .upload-form-container h2 {
    font-size: 15px;
  }

  .input-group input {
    padding: 8px;
    font-size: 12px;
  }

  .input-group label {
    font-size: 14px;
  }

  .compare-button {
    font-size: 12px;
    padding: 10px;
  }

  .option-button {
    width: 130px;
    height: 70px;
    font-size: 8px;
  }

  .icon_logo {
    font-size: 8px;
  }
}